/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 80%;
	padding: 20px;
	margin: 20px auto;
	max-width: 1000px;
	padding-bottom: 100px;
}

.header {
	display: inline-block;
	width: 110px;
	height: 10px;
	padding: 30px;
}

.innovation {
	display: inline-block;
	width: 475px;
	height: 400px;
	vertical-align: bottom;
	margin: auto;
}

.inno-xs {
	margin: auto;
	padding: 150px;
}

/* section div h1 {
	color: red;
	margin: auto;
	/* height: 500px; 
} */

.info-extra {
	/* border: 2px solid black; */
	display: inline-block;
	width: 475px;
	padding: 25px;
	margin: auto;
	text-align: justify;
}

.middle-img {
	margin: auto;
	width: 940px;
	display: block;
}

.more-info {
	/* border: 2px solid black; */
	width: 315px;
	padding: 25px;
	margin: auto;
	display: inline-block;
	text-align: justify;
} 

section.contact h3 {
	/* border: 1px solid red; */
	padding-top: 25px;
}

/* span {
	padding-top: 30px;
} */

/* a {
	text-decoration: none;
} */

hr {
	border: 0;
	height: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
} 

.footer {
	text-align: center;
}

button {
	background: white;
	width: 100px;
}

div.innovation h1 {
	font-size: 50px;
}